<% if flash.any? %>
<% flash.each do |error, msg|%>
<div class="alert alert-info">
<%= msg%>
</div>
<% end %>
<% end %>

<div class="signUp">
<h1 class="loghh">Sign In</h1>
<%= form_tag sessions_path, class:"container form-g" do%>

    <div class="form-group">
    <%= label_tag "Email"%><br/>
    <%= text_field_tag :email,nil, placeholder:"Email", class:"form-control"%>
    </div>

    <div class="form-group">
    <%= label_tag "Password"%><br/>
    <%= password_field_tag :password, nil , placeholder:"Password",class:"form-control"%>
    </div>
    <br/>
    <%= submit_tag "Log In", class:"btn btn-danger"%>

<% end %>


<h4 class="loghhh">Else Login with Google or Facebook</h4>

<div>
<%= link_to 'Google login', '/auth/google_oauth2', class:"btn btn-danger"%>
<%= link_to "Facebook Login",'/auth/facebook', class:"btn btn-primary"%>
</div>
</div>