<%= render 'layouts/filter' %>

<h3 class="user-greeting">Filtered Results for <%= @filter%> <%= @search%></h3>
<br/>
<div class="rest-cont">
<%if !@restaurants.nil?%>
<% @restaurants.each do |r|%>
<div class="card rest-con">
<h3 class="card-header"><%= r.name%></h3>
<div class="card-body">
     <h5 class="card-title"><%= r.category%></h5>
     <%= link_to "More Details", r, class:"btn btn-secondary"%>
</div>
</div>
<br/>
<% end %>
<%end%>
</div>