<div class="signUp">
<h1 class="loghh">Edit Your Review</h1>
<%= form_with model: @review , class:"container form-g" do |f|%>
<div class="form-group">
<%= f.label :ratings, "Edit Review"%><br/>
<%= f.text_field :ratings , class:"form-control"%>
<br/>
</div>

<div class="form-group">
<%= f.label :stars, "Edit Rating (Max - 5)"%><br/>
<%= f.number_field :stars , class:"form-control",min:0,max:5%>
<br/>
</div>

<%= f.submit "Edit Review", class:"btn btn-danger"%>
<% end %> 
</div>